@import "mixins";

body, html{
    padding:0;
    margin:5px 0 0 0;
    width:minmax(350px,100vw);
    background-color:purple;
    
}
ul,li,ol,a{
    list-style: none;
    text-decoration: none;
    padding:0;

}

// HAMBURGER MENU----------------------------------------------

input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}

.hamburger{
        width: 40px;
        height: 6px;
        background: #FCFCFC;
        margin-bottom: 5px;
        display:block;
        position:relative;
        top: 10px;
        left: 10px;
        z-index:1;
        background-color: #FFC600;
}

.hamburger_line1{
    transform-origin: 0% 0%;
    
}
.hamburger_line3{
    transform-origin: 0% 100%;
}

input:checked ~ span:nth-last-of-type(3){
    transform: rotate(45deg) translate(2px,-1px);
    transition: transform .5s;
}
input:checked ~ span:nth-last-of-type(2){
    // transform: rotate(45deg) translate(-2px, -1px);
    opacity:0;
    transition:opacity .5s;
}
input:checked ~ span:nth-last-of-type(1){
    transform: rotate(-45deg) translate(-2px,8px);
    transition: transform .5s ease-in-out;
}
// NAVIGATION MENU---------------------------------------


.nav-container{
    width:80%;
    margin:20px auto;
    display:flex;
    flex-wrap:wrap;
    text-align: center;

    a{ //padding around this will make entire thing clickable
        padding:1em;
        display:block; 
    }
    @include element("item"){
        margin:5px;
        background-color: #FFC600;
        flex: 1 1 0;
        text-transform: uppercase;
        font-weight: 800;
        color: white;
    }
}

// TOP SECTION--------------------------------------------

.top-section{
    display:grid;
    grid-template-columns: 1fr;
    width:80%;
    margin:30px auto;
    

    @include display(600px){
        grid-template-columns: 1fr 1fr;
        .item2{
            margin-left: 1em;
        }
    }
    @include display(950px){
        grid-template-columns: 3fr 1fr;
    }

    @include element("item"){
        border:1px solid black;
        margin:15px 0;

            @include modifier("img"){
                background-image: url(../images/main.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                // box-sizing: border-box;
                display:flex;
                flex-direction: column;
                justify-content: center;
                height:350px;
                
                h1,p{
                    margin-left:20px;
                    background-color: #FFC600;
                    width:max-content;
                    padding:3px;
                }

                @include display(600px){
                    grid-column: 1/3;
                }
                @include display(950px){
                    grid-column: 1/2;
                    grid-row:1/3;
                }
            }
            @include modifier("other"){
                text-align: center;
                background-color: #FFC600;

                
                @include display(950px){
                    margin-left: 1em;
                }

                h1{
                    font-size:4em;
                    margin:15px;
                }
                p{
                    margin:2px;
                }
            }

    }

}
    
// OPTIONS SECTION---------------------------------------------

.options{

    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    width:80%;
    margin:auto;

        @include element("item"){
            background-color: white;
            margin:.5em .5em;
            padding:1em;
            display:flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            flex:1 1 240px;
            border:1px solid black;
            span{
                font-size:50px;
            }
            
        }
    
        
   

}

// LARGE TACO SECTION---------------------------------------------

.taco-card{
    background-color: white;
    width:80%;
    margin:1em auto;
    display:grid;
    grid-template-columns: 1fr;
    
    border:1px solid black;

    @include display(950px){
        grid-template-columns: auto 1fr;
    }
    img{
        padding:1em;
        max-width:100%;
        justify-self: center;
    }
    
    .description{
        padding:2em;
        font-weight: bold;
        
        
        a{
            background-color: #FFC600;
            display:block;
            margin-top:1em;
            width:max-content;
            padding: 1em;

        }
    }


}

// INSTAGRAM SECTION-------------------------------------
h2{
    text-align: center;
}
.instagram{
    display:flex;
    flex-wrap:wrap;
    width:80%;
    margin: 0 auto 1em auto;

    img{
        width:80%;
        margin:.5em .5em;
        flex:1 1 240px;
    }
    
}

@media (max-width:740px){
    .nav-container{
        display:none;
    }

    input:checked ~ .nav-container{
        display: flex;
    }
}

@media (min-width:740px){
    .hamburger, .burgerbox{
        display:none;
    }
}